<launch>

    <!-- Start the USB Camera node   -->
    <node name="uvc_camera" pkg="uvc_camera" type="uvc_camera_node" output="screen" ns="usb_cam">
        <param name="device" value="/dev/video0" />
        <param name="fps" value="20" />
        <param name="width" value="640" />
        <param name="height" value="480" />
        <param name="frame_id" value="usb_cam" />
    </node>

    <!-- Start the node to track a face in an video stream   -->
   <rosparam file="$(find face_shooter)/config/track.yaml" command="load"/>   
   <node name="face_tracker" pkg="face_shooter" type="face_tracker_node.py" output="screen"/>  

</launch>

