<launch>

<!-- Start camera node and face tracker -->
  <include file="$(find face_shooter)/launch/face_tracker.launch"/>   

<!-- Starting ros serial to control pan tilt and shooting -->
    <node name="shooter_node" pkg="face_shooter" type="shooter_node.py" output="screen"/>
    
<!-- Starting ammo feeder
    <node name="feeder_node" pkg="face_shooter" type="feeder_node.py" output="screen"/>

  -->

</launch> 

<!--  

rosrun robot_upstart install face_shooter/launch/face_shooter.launch

 -->

